<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sibilantsolutions.grisonforandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For Samsung MultiWindow support (deprecated on API 24+). -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <!-- For Samsung MultiWindow support (deprecated on API 24+). -->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- For Samsung MultiWindow support (deprecated on API 24+). -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CamListActivity"
            android:label="@string/title_activity_cam_list"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>